@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Raleway&display=swap');

/*
font-family: 'El Messiri', sans-serif; -titulo
font-family: 'Raleway', sans-serif; -fuente secundaria
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
}


p.navbar-brand {
    padding-inline: 20px;
    text-align: center;
    margin: 0px;
}

body {
    background-color: #202529;
}

.bi {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
}

.bi:hover {
    box-shadow: 2px 2px 30px 0 #6daeff;
}

.carrito {
    width: 30px;
    margin: 0px 0 0 0px;
    position: absolute;
    top: 15px;
    right: 100px;
    cursor: pointer;
}

.numero-de-carrito {
    color: white;
    font-size: 12px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 6px;
    right: 90px;
}


.main-index {
    width: 100%;
    height: 100%;
}

.main-index-section {
    padding: 15% 10px;
    background: linear-gradient(45deg, #00000073 0%, #0a1234 99%);
}

.main-index-section h1 {
    font-family: 'El Messiri', sans-serif;
    font-size: 80px;
    padding-inline: 100px;
    text-align: center;
    color: #faebd7;
}

.span {
    color: #00aaff;
}

.main-index-section p {
    font-family: 'Raleway', sans-serif;
    color: #faebd7;
    text-align: -webkit-center;
    font-size: 25px;
    letter-spacing: 5px;
}

.main-index-section-marcas {
    padding: 50px;
    background-color: #f0f8ff;
}

/*.col {
    margin-block-start: 40px;
}*/
.secciones-t {
    color: #f0f8ff;
    font-size: 40px;
    display: flexbox;
    text-align: center;
    margin-inline: 0px 70px;
    object-position: center;
    padding: 40px;
}

.computadoras {
    display: flex;
    margin-inline: 150px;
    gap: 80px;
    margin-bottom: 90px;
}

.notebook {
    display: flex;
    margin-inline: 150px;
    gap: 80px;
    margin-bottom: 90px;
}

.accesorios-pc {
    display: flex;
    margin-inline: 150px;
    gap: 80px;
    margin-bottom: 90px;
}

.card {
    box-shadow: 0px 4px 8px 0 #5d81ad;
    max-width: 300px;
    text-align: center;
    font-family: sans-serif;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price {
    color: #808080;
    font-size: 22px;
}


.card button {
    outline: 0;
    padding: 12px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.8;
}

/*modal content*/
.modal-container {
    width: 90%;
    margin: 0 70px;
    max-height: 88vh;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    border-radius: 20px;
    box-shadow: 2px 4px 20px 0 #ffffff2e;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
    font-size: 25px;
    font-family: 'El Messiri', sans-serif;
    margin: 20px;
    letter-spacing: 4px;
    BORDER-BOTTOM-STYLE: OUTSET;
}

.modal-header-title:hover {
    color: #00aaff;
    BORDER-BOTTOM-STYLE: OUTSET;
    border-color: #00aaff;
}

.modal-header-button {
    cursor: pointer;
    font-size: 20px;
}

.modal-container>.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container p {
    color: #ffffff;
}

.modal-container>div>img {
    height: 120px;
    width: 120px;
}
.btn-outline-info{
    font-size: 20px;
    margin-inline: 60px;
}
.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product {
    cursor: pointer;
}

.sumar {
    cursor: pointer;
}

.restar {
    cursor: pointer;
}

.logos-png {
    width: 200px;
    background-color: #eef8fe;
}

.footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.45) 0%, rgba(10, 18, 52, 1) 99%);
    margin: 0px;
    padding: 10px;
}

.footer p {
    color: #ffffff;
}